In [1]:
# importing the necessary libraries
import pandas as pd

In [2]:
#link to data on the ny_taxi's website
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz'

In [3]:
# Loading data from source
try:
    data = pd.read_csv(url) #reading the data
except Exception as e:
    print(f"Error Loading data from source: {e}") # Error handling
else:
    print("Data Loaded successfully") 
    print(data.head(5)) # first five rows of the data

Data Loaded successfully
   VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0       2.0  2019-10-01 00:26:02   2019-10-01 00:39:58                  N
1       1.0  2019-10-01 00:18:11   2019-10-01 00:22:38                  N
2       1.0  2019-10-01 00:09:31   2019-10-01 00:24:47                  N
3       1.0  2019-10-01 00:37:40   2019-10-01 00:41:49                  N
4       2.0  2019-10-01 00:08:13   2019-10-01 00:17:56                  N

   RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0         1.0           112           196              1.0           5.88
1         1.0            43           263              1.0           0.80
2         1.0           255           228              2.0           7.50
3         1.0           181           181              1.0           0.90
4         1.0            97           188              1.0           2.52

   fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0         18.0   0.50      0.5        0.00           0.0        NaN
1          5.0   3.25      0.5        0.00           0.0        NaN
2         21.5   0.50      0.5        0.00           0.0        NaN
3          5.5   0.50      0.5        0.00           0.0        NaN
4         10.0   0.50      0.5        2.26           0.0        NaN

   improvement_surcharge  total_amount  payment_type  trip_type  \
0                    0.3         19.30           2.0        1.0
1                    0.3          9.05           2.0        1.0
2                    0.3         22.80           2.0        1.0
3                    0.3          6.80           2.0        1.0
4                    0.3         13.56           1.0        1.0

   congestion_surcharge
0                   0.0
1                   0.0
2                   0.0
3                   0.0
4                   0.0

C:\Users\BrempongAppiahDankwa\AppData\Local\Temp\ipykernel_12876\2907727502.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(url) #reading the data

In [4]:
#Converting the data type text of pickup date and dropoff date to Timestamp
data['lpep_pickup_datetime'] = pd.to_datetime(data['lpep_pickup_datetime'])
data['lpep_dropoff_datetime'] = pd.to_datetime(data['lpep_dropoff_datetime'])

In [5]:
#getting data schema from the table with pandas
print(pd.io.sql.get_schema(data, name='green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" REAL,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [6]:
dataset_with_zones = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv'

try:
    # Load the dataset
    dataset_with_zones = pd.read_csv(dataset_with_zones)
    print("Dataset with zones Loaded Successfully")
    print(dataset_with_zones.head(5))  # Display first 5 rows
except FileNotFoundError:
    print(f"File not found: {file_path}")
except pd.errors.EmptyDataError:
    print("File is empty or improperly formatted")

Dataset with zones Loaded Successfully
   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [7]:
print(pd.io.sql.get_schema(dataset_with_zones, name='data_with_zones'))

CREATE TABLE "data_with_zones" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [8]:
#connecting to a local postgres database
from sqlalchemy import create_engine

try:
    engine = create_engine('postgresql://root:root@localhost:5435/ny_taxi') #create the connection
    engine.connect # connect to the database
except Exception as e:
    print(f"Error while connecting to database: {e}")
else:
    print("Connection Sucessful")

Connection Sucessful

In [9]:
#schema of the data
data.head(n=0)

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [10]:
# sending the schema to the database 
try:
    data.head(n=0).to_sql(name='green_taxi_data',con=engine, if_exists='replace')
except Exception as e:
    print(f"Failed to load schema into the database:, {e}")
else:
    print("Schema loaded successfully into the database")

Schema loaded successfully into the database

In [11]:
# loading the data
try:
    %time data.to_sql(name='green_taxi_data',con=engine, if_exists='replace')
except Exception as e:
    print(f"Failed to load data into the database:, {e}")
else:
    print("data loaded successfully into the database")

CPU times: total: 48.3 s
Wall time: 1min 16s
data loaded successfully into the database

In [12]:
# Loading the schema of the dataset with zones
try:
    %time dataset_with_zones.head(n=0).to_sql(con=engine, name='zones', if_exists='replace')
except Exception as e:
    print(f"Failed to load schema into the database:, {e}")
else:
    print("schema loaded successfully into the database")

CPU times: total: 15.6 ms
Wall time: 97.8 ms
schema loaded successfully into the database

In [13]:
#Loading the dataset_with_zones to the database
try:
    %time dataset_with_zones.to_sql(con=engine, name='zones', if_exists='replace')
except Exception as e:
    print(f"Failed to load data into the database:, {e}")
else:
    print("data loaded successfully into the database")

CPU times: total: 31.2 ms
Wall time: 151 ms
data loaded successfully into the database